:root {
    --E: 100px;
    --D: 70px;
    --Planet: 30px;
    --Craft: 10px;
    background-color: black;
}

#navbox {
    width: 512px;
    height: 512px;
    border: solid black 5px;
    -webkit-perspective: 180px;
    perspective-origin: center;
}

@keyframes revolve {
    from {transform: rotateX(-13deg) rotateY(-360deg) }
    to {transform:   rotateX(-13deg) rotateY(360deg)  }
}

@keyframes axisTest {
    0% {transform:  rotateY(0deg)  rotateX(0deg)   rotateZ(0deg)}
    30% {transform: rotateY(90deg) rotateX(0deg)   rotateZ(0deg)}
    60% {transform: rotateY(90deg) rotateX(360deg) rotateZ(0deg)}
    90% {transform: rotateY(90deg) rotateX(360deg) rotateZ(360deg)}
}

@keyframes twistInSpace {
    from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) }
    to {transform:   rotateX(360deg) rotateY(360deg) rotateZ(360deg) }
}

#origin {
    animation-name: revolve;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.dot {
    transform-origin: center;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    right: 50%;
}

.panel {
    transform-origin: center;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    right: 50%;
}

.planet > .panel {
    border-radius: 50%;
    width:  calc(var(--Planet)*2);
    height: calc(var(--Planet)*2);
}

.planet > .panelXY {
    transform: translate3d(var(--Planet), calc(-1*var(--Planet)), 0);
}

.planet > .panelYZ {
    transform: translate3d(var(--Planet), calc(-1*var(--Planet)), 0) rotateX(90deg);
}

.planet > .panelXZ {
    transform: translate3d(var(--Planet), calc(-1*var(--Planet)), 0) rotateY(90deg);
}


.craft > .panel {
    width:  0;
    height: 0;
}

.craft > .panelXY {
    transform: translate3d(var(--Craft), calc(-1*var(--Craft)), 0);
    border-top: calc(var(--Craft)*2) solid;
    border-bottom: none;
    border-left: var(--Craft) solid transparent;
    border-right: var(--Craft) solid transparent;
}

.craft > .panelYZ {
    transform: translate3d(var(--Craft), calc(-2.125*var(--Craft)), 0) rotateX(90deg);
    width: calc(var(--Craft) * 2);
    height: calc(var(--Craft) * 2);
    border-radius: 50%;
    background-color: transparent;
    border: dashed 3px;
    box-sizing: border-box;
}

.craft > .panelXZ {
    transform: translate3d(var(--Craft), calc(-1*var(--Craft)), 0) rotateY(90deg);
    border-top: calc(var(--Craft)*2) solid;
    border-bottom: none;
    border-left: var(--Craft) solid transparent;
    border-right: var(--Craft) solid transparent;
}

.sphere {
    width: 0;
    height: 0;

    animation-name: twistInSpace;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sphere > .panel {
    border-radius: 50%;
    box-sizing: border-box;
}

.sphere > .panelXY {}

.sphere > .panelYZ {}

.sphere > .panelXZ {}


.defender > .panelXY {
    border-top-color: steelblue;
}

.defender > .panelXZ {
    border-top-color: steelblue;
}

.attacker > .panelXY {
    border-top-color: red;
}

.attacker > .panelXZ {
    border-top-color: red;
}

.planet[data-name="Earth"] > .panel {
    background-color: rgba(0, 255, 0, 0.1);
    border: rgba(0, 69, 0, 1) 2px solid;
    box-sizing: border-box;
}

.line {
    border: none;

    transform-origin: top center;
    transform-style: preserve-3d;
    /*animation-name: axisTest;
    animation-duration: 10s;
    animation-iteration-count: infinite;*/
    position: absolute;

    width: 0px;
}
